<div class="d-flex justify-content-center align-items-center flex-column">

    <h1 class="mt-5">Result<h1>

    <h2 class="mt-5"><%= @score %></h2>

    <p class="mt-5"><%= @message %><p>

    <button type="button" class= "btn btn-primary mt-5"><%= link_to "Play again", new_path, class: "text-decoration-none text-light"%></button>
</div>